<!doctype html>
<html lang="en" ng-app="liverdb">
<head>

    <meta charset="utf-8">
    <title>LiverSingleCellAtlas</title>
    <link rel="shortcut icon" href="static/liverdb/graph/logo.ico">

    <!--link rel="icon" href="/static/liverdb/img/miRNASNP2.0_logo.PNG"-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/liverdb/lib/angular/angular.js"></script>
    <script src="/static/liverdb/lib/angular/angular-route.js"></script>
    <script src="/static/liverdb/lib/angular/angular-resource.js"></script>
    <script src="/static/liverdb/lib/angular-paging/paging.js"></script>
    <script src="/static/liverdb/lib/angular-pageslide-directive/angular-pageslide-directive.js"></script>

    <script src="/static/liverdb/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/liverdb/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/static/liverdb/lib/bootstrap/bootstrap.js"></script>
    <script src="/static/liverdb/lib/ui-bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
    <script src="/static/liverdb/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="/static/liverdb/lib/bootstrap-slider/angular-bootstrap-slider.js"></script>
    <script src="/static/liverdb/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/static/liverdb/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/static/liverdb/lib/echarts/echarts.min.js"></script>
    <script src="/static/liverdb/lib/jquery-pagination/jquery.pagination.js"></script>
    <script src="/static/liverdb/lib/jquery-ztree/jquery.ztree.all.min.js"></script>
    <script src="/static/liverdb/lib/angular-tablesort/angular-tablesort.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/liverdb/css/bootstrap.css">
    <link rel="stylesheet" href="/static/liverdb/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/static/liverdb/lib/bootstrap-slider/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/static/liverdb/css/gmd.css">
    <link rel="stylesheet" href="/static/liverdb/css/jquery-ui-1.10.0.custom.css">
    <link rel="stylesheet" href="/static/liverdb/css/zTreeStyle.css">
    <link rel="stylesheet" href="/static/liverdb/css/pagination.css">
    <link rel="stylesheet" href="/static/liverdb/css/main.css">
    <link rel="stylesheet" href="/static/liverdb/lib/bootstrap-select/dist/css/bootstrap-select.css">
    <link rel="stylesheet" href="static/liverdb/lib/angular-tablesort/tablesort.css">
    <link rel="stylesheet" type="text/css" href="/static/liverdb/css/mystyle.css">
    <!--link rel='stylesheet' href="/static/liverdb/lib/fornac/app/styles/fornac.css"-->

    <script src="/static/liverdb/js/app.js"></script>
    <script src="/static/liverdb/js/home.controller.js"></script>
    <script src="/static/liverdb/js/browse.controller.js"></script>
    <script src="/static/liverdb/js/search.controller.js"></script>
    <script src="/static/liverdb/js/project_detail.controller.js"></script>
    <script src="/static/liverdb/js/browsepage.controller.js"></script>
    <script src="/static/liverdb/js/test.js"></script>

</head>
<body style="background-color:white">
<!--a href="#!/">
    <img src="/static/liverdb/img/miRNASNP2.0_logo.PNG" align="middle">
</a>
<img src="/static/liverdb/img/liverdb_title.PNG" align="middle"-->
<div ng-include="'/static/liverdb/partials/navigation.html'" class="ng-scope">
</div>
<div class="container" style="background-color:white;width: auto;">
    <div ng-view></div>
</div>

<div ng-include="'/static/liverdb/partials/footer.html'"></div>

</body>
</html>