<!--div class="container">
    <hr class="divider"/>
    <div id="footer" class="text-center">
        <p class="container">
            <strong>Copyright &copy;</strong>
            <a href="http://bioinfo.life.hust.edu.cn" target="_blank">Guo Lab</a>,
            <a href="http://life.hust.edu.cn" target="_blank">College of Life Science and Technology</a> ,
            <a href="http://www.hust.edu.cn" target="_blank">HUST</a>,
            China.
        </p>
        <p class="container">
            Any comments and suggestions, please <a href="#!/contact/" target="blank">contact us</a>
        </p>
    </div>
</div-->

<footer class="py-5 navbar-light" style="background-color: #fff; border-color: #fff; box-shadow: 1px -3px 1px #ddd;">
    <div class="container" style="margin-bottom: 20px;">
        <div style="width:75%;float:left;">
          <p class="m-0 text-center text-secondary" style="text-align: left !important; ">Copyright &copy; Zhang Lab, Wuhan National Laboratory for Optoelectronics, HUST, China.</p>
          <p class="m-0 text-center text-secondary" style="text-align: left !important; ">For questions, comments, please contact us.</p>

        </div>
        <div style="width:25%; display: inline-block; float: left;">
            <div style="float:right; ">
                <a href="http://wnlo.hust.edu.cn/index.htm" target="_blank"><img src="/static/liverdb/graph/wnlo.jpg" style="width: 300px"> </a>
            </div>
       </div>


    </div>

    <!-- /.container -->
  </footer>