<!--div class="container" style="background-color: floralwhite;width: auto;" ng-controller="NavController">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/" class="navbar-brand">LiverCellAtlas</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#!/document">Document</a></li>
                <li><a href="#!/contact">Contact</a> </li>
            </ul>
    </div>
    </nav>
</div-->
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;border-color: #fff;    box-shadow: 1px 3px 1px #ddd;margin-bottom: 4px">
    <a class="navbar-brand logoviz" style="width: auto;">
      <img src="/static/liverdb/graph/LogoLiver.png" alt="Name" class="d-inline-block align-center logowidth">
    </a>
    <a class="navbar-brand logoviz" style="width: auto;">
       <span style="text-align:center; font-weight: bold; font-size: 35px;">Liver Single Cell Atlas</span>
    </a>

    <!--button class="navbar-toggler hidden-md-up float-md-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button-->
    <div class="collapse navbar-collapse navbar-toggleable-sm navbarcustom" id="collapsibleNavbar" style="float: right;width:auto">
     <ul class="navbar-nav ml-auto">
                <li class="nav-item active" id="HomePage">
                  <a class="nav-link" href="#!/home">Home</a>
                </li>
                <li class="nav-item" id="BrowsePage">
                  <a class="nav-link" href="#!/browse">Browse</a>
                </li>
                <li class="nav-item" id="SearchPage">
                  <a class="nav-link" href="#!/search">Search</a>
                </li>
                <li class="nav-item" id="SubmitPage">
                  <a class="nav-link" href="#!/submit">Submit</a>
                </li>
                <li class="nav-item" id="DownloadPage">
                  <a class="nav-link" href="#!/download">Download</a>
                </li>
                <li class="nav-item" id="Contact Usage">
                    <a class="nav-link" href="#!/contact">Contact Us</a>
                  </li>

                <li class="nav-item" id="HelpPage">
                  <a class="nav-link" href="#!/help">Help</a>
                </li>
              </ul>
     </div>
  </nav>
</div>
 
  
